
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jkauswaysecurityinstallation.website
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?jkauswaysecurityinstallation.website
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jkauswaysecurityinstallation.website

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:jkauswaysecurityinstallation.website
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:jkauswaysecurityinstallation.website


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jkauswaysecurityinstallation.website
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?jkauswaysecurityinstallation.website
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:jkauswaysecurityinstallation.website
